/* Universal */

body {
	overflow: hidden;
	background-color: violet;
}

a {
	color: white;
}

li a {
	color: black;
}

textarea {
  resize: none;
}

#headerDiv {
	text-align: center;
}

#footer {
	overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* app.js */

#mdpDiv {
	position: relative;
	text-align: center;
}

#nB0 {
	position: relative;
	right: 1.3em;
} 

.nB0Item {
	display: inline;
	list-style-type: none;
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: black;
}

#header {
	position: relative;	
	text-decoration: underline !important;
}

.input_Output {
	position: relative;
	text-decoration: underline !important;
	bottom: 0.5em;
	text-align: center;
}

/* Also included in markDownOutput.js */

.markDownDivs {
	height: 40em;
	width: 36em;
	border-style: solid;
	border-width: 0.3em;
	border-color: black;
	border-radius: 1.5em;
	background-color: blue;
	background-color: rgba(42, 109, 131, 1); 
}

#input {
	position: relative;
	top: 1em;
	left: 8em;
}

#output {
	position: relative;
	left: 46em;
	bottom: 39.6em;
} 

#markDownInputHeader {
	position: relative;
	margin-bottom: 3.5em;
}

#editor {
	border-style: none;
	border-width: 0.2em;
	border-radius: 1.5em;
	height: 40em;
	width: 39em;
	position: relative;
	bottom: 4em;
	font-size: 0.9em;
	background-color: blue;
	background-color: rgba(42, 109, 131, 1); 
}

/* markDownOutput.js */

#markdownOutputHeader {
	position: relative;
	margin-bottom: 2.5em;
}

#preview {
	text-align: left;
	border-style: none;
	border-width: 0.2em;
	border-radius: 1.5em;
	height: 36.5em;
	width: 35em;
	position: relative;
	bottom: 2em;
	text-decoration: none;
}

/* about.js */

#aboutDiv {
	position: relative;
	text-align: center;
}



